.features {
	grid-column: center;

	margin: 15rem 0;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 6rem;
}

.feature {
	display: grid;
	grid-template-columns: auto 1fr;
	// row-gap: 1.5rem;
	column-gap: 2.5rem;
	align-content: flex-start;
	align-items: center;

	&__icon {
		fill: $color-primary;
		width: 4.5rem;
		height: 4.5rem;
		grid-area: 1;
	}

	&__text {
		font-size: 1.7rem;
		grid-area: 2 / 2;
	}
}
