.story {
	&__pictures {
		background-color: $color-primary;
		background-image: linear-gradient(rgba($color-primary, 0.5), rgba($color-primary, 0.5)), url(../img/back.jpg);

		grid-column: full-start / col-end 4;

		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(6, 1fr);
		align-items: center;
		justify-content: center;

		@media only screen and (max-width: 50em) {
			grid-area: 6 / full;
			aspect-ratio: 2 / 1;
			padding: 5% 8%;
		}
	}

	&__img--1 {
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
		grid-area: 2 / 2 / span 4 / span 4;
		justify-self: center;
		align-self: center;
		box-shadow: 0 2rem 5rem rgba(#000, 0.1);

		@media only screen and (max-width: 50em) {
			grid-area: 1 / 1 / -1 / 5;
			justify-self: stretch;
			align-self: stretch;
		}
	}

	&__img--2 {
		width: 120%;
		grid-area: 4 / 4 / span 2 / span 3;
		z-index: 1;
		box-shadow: 0 2rem 5rem rgba(#000, 0.2);

		@media only screen and (max-width: 50em) {
			grid-area: 3 / 4 / 5 / -1;
			width: 100%;
		}
	}

	&__content {
		background-color: $color-grey-light-1;
		padding: 6rem 8vw;

		grid-column: col-start 5 / full-end;

		// display: flex;
		// flex-direction: column;
		// justify-content: center;
		// align-items: flex-start;

		display: grid;
		align-content: center;
		justify-items: flex-start;

		@media only screen and (max-width: 50rem) {
			grid-column: full;
		}
	}

	&__text {
		font-size: 1.5rem;
		font-style: italic;
		margin-bottom: 4rem;
	}
}
